@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
* {
	margin: 0;
	padding: 0
}

body {
	font-family: Poppins, sans-serif;
	font-size: 15px;
	line-height: 1.57143;
	font-weight: 400;
	color: #2d2e2e
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', sans-serif;
	margin-top: 0
}

a {
	color: #2d2e2e;
	transition: all .3s ease 0s
}

a:hover {
	color: #242c42;
	text-decoration: none
}

a,
a:active,
a:focus,
a:hover {
	outline: 0;
	text-decoration: none
}

.btn,
.btn * {
	transition: all .3s ease 0s
}

i {
	transition: all .4s ease-in-out 0s
}

li,
ul {
	list-style: outside none none
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0
}

.mb-15 {
	margin-bottom: 15px
}

.mb-40 {
	margin-bottom: 40px
}

.mb-30 {
	margin-bottom: 30px
}

.mb-45 {
	margin-bottom: 45px
}

.mt-40 {
	margin-top: 40px
}

.mt-50 {
	margin-top: 50px
}

.mb-60 {
	margin-bottom: 60px
}

section {
	float: left;
	width: 100%;
	padding: 80px 0
}

.section-title {
	margin: 0 0 50px
}

.section-sub-title h6 {
	letter-spacing: 1px;
	color: #1453b4;
	font-size: 16px
}

.section-main-title h1,
.section-main-title h2 {
	font-weight: 800;
	margin: 0
}

.em_bar {
	height: 2px;
	margin: 0 auto 5px;
	width: 62px
}

.text_left .em_bar {
	margin: 0
}

.em_bar_bg {
	height: 5px;
	width: 90px;
	background: #ddd;
	margin: 20px auto;
	position: relative;
	border-radius: 30px
}

.em_bar_bg:before {
	content: '';
	position: absolute;
	left: 0;
	top: -2.7px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #1a76d1;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: move-bg;
	animation-name: move-bg
}

@-webkit-keyframes move-bg {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	to {
		-webkit-transform: translateX(88px);
		transform: translateX(88px)
	}
}

@keyframes move-bg {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	to {
		-webkit-transform: translateX(88px);
		transform: translateX(88px)
	}
}

.bttn::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 1;
	background: -webkit-gradient(linear, left top, right top, from(#1453b4), color-stop(63%, #1453b4));
	background: linear-gradient(90deg, #1453b4 0, #1453b4 63%);
	-webkit-transition: .5s all ease;
	transition: .5s all ease;
	z-index: -1
}

.bttn:hover::before {
	width: 0;
	opacity: 0
}

.bttn {
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	width: 120px;
	padding: 12px 0;
	position: relative;
	z-index: 1;
	border-image-source: linear-gradient(90deg, #38a745 0, #4cce5b 63%);
	border-image-slice: 1;
	color: #fff;
	border: 1px solid #1453b4;
	width: 150px
}

.bttn:hover {
	color: #fff;
	border: 1px solid #fff
}

.btn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	border-radius: 0;
	padding: 11px 25px 12px;
	font-size: 19px;
	color: #fff;
	font-weight: 500;
	background: #1453b4;
	border: none
}

.btn:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #242c42;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}

.btn:active,
.btn:focus,
.btn:hover {
	color: #fff
}

.btn:active:before,
.btn:focus:before,
.btn:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
	transition-timing-function: cubic-bezier(.52, 1.64, .37, .66)
}

#dvLoading {
	background: url(../images/loader.gif) no-repeat center center #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999
}

.header {
	background-color: #fff;
	position: relative
}

.header .topbar {
	background-color: #212121;
	border-bottom: 1px solid #eee
}

.header .topbar {
	padding: 10px 0
}

.header .top-link {
	float: right
}

.header .top-link li {
	display: inline-block;
	margin-right: 15px
}

.header .top-link li:last-child {
	margin-right: 0
}

.header .top-link li a {
	color: #fff;
	font-size: 14px;
	font-weight: 400
}

.header .top-link li:hover a {
	color: #79c4ff
}

.header .top-contact {
	float: left
}

.header .top-contact li {
	display: inline-block;
	margin-right: 25px;
	color: #fff
}

.header .top-contact li:last-child {
	margin-right: 0
}

.header .top-contact li a {
	font-size: 14px;
	color: #fff
}

.header .top-contact li a:hover {
	color: #79c4ff
}

.header .top-contact li i {
	color: #fff;
	margin-right: 8px
}

.header .header-inner {
	background: #1453b4;
	z-index: 999;
	width: 100%
}

.header .logo {
	float: left;
	margin: 18px 0
}

.slicknav_menu {
	display: none
}

.header .nav li {
	margin-right: 10px;
	float: left;
	position: relative
}

.header .nav li:last-child {
	margin: 0
}

.header .nav li a {
	color: #ffff;
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 25px 12px;
	position: relative;
	display: inline-block;
	position: relative
}

.header .nav li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0%;
	background: #dedede;
	border-radius: 5px 5px 0 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease
}

.header .nav li.active a:before {
	opacity: 1;
	visibility: visible;
	width: 100%
}

.header .nav li.active a {
	color: #dedede
}

.header .nav li:hover a:before {
	opacity: 1;
	width: 100%;
	visibility: visible
}

.header .nav li:hover a {
	color: #ffeb3b
}

.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px
}

.header.style2 .header-inner {
	border-top: 1px solid #eee
}

.header.style2 .logo {
	margin-top: 6px
}

.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	left: -3px;
	top: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(.2);
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	opacity: 0;
	visibility: hidden;
	top: 74px;
	border-left: 3px solid #1453b4
}

.header .nav li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	transform: translateY(0)
}

.header .nav li .dropdown li {
	float: none;
	margin: 0;
	border-bottom: 1px dashed #eee
}

.header .nav li .dropdown li:last-child {
	border: none
}

.header .nav li .dropdown li a {
	padding: 12px 15px;
	color: #666;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
	background: 0 0;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease
}

.header .nav li .dropdown li a:before {
	display: none
}

.header .nav li .dropdown li:last-child a {
	border-bottom: 0
}

.header .nav li .dropdown li:hover a {
	color: #333
}

.header .nav li .dropdown li a:hover {
	border-color: transparent;
	background: #f4f4f4
}

.header .right-bar {
	float: right
}

.header .right-bar {
	padding-top: 20px
}

.header .right-bar {
	display: inline-block
}

.header .right-bar a {
	color: #fff;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	background: #1a76d1;
	border-radius: 4px;
	display: block;
	font-size: 12px
}

.header .right-bar li a:hover {
	color: #fff;
	background: #27ae60
}

.section-title .section-span {
	font-size: 25px;
	color: #1453b4;
	font-weight: 600
}

.hero-slider::before {
	bottom: 0;
	content: "";
	left: 0;
	opacity: .9;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	background: #17354f
}

.hero-slider {
	width: 100%;
	height: 600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 0
}

@media (max-width:991px) {
	.hero-slider {
		height: 600px
	}
}

@media (max-width:767px) {
	.hero-slider {
		height: 500px
	}
}

.hero-slider .swiper-slide {
	overflow: hidden;
	color: #fff
}

.hero-slider .swiper-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0
}

.hero-slider .slide-inner::before {
	bottom: 0;
	content: "";
	left: 0;
	opacity: .65;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1
}

.hero-slider .slide-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left
}

.hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
	background: rgba(255, 255, 255, .2);
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin-top: -30px;
	text-align: center;
	border-radius: 60px
}

@media (max-width:767px) {
	.hero-slider .swiper-button-next,
	.hero-slider .swiper-button-prev {
		display: none
	}
}

.hero-slider .swiper-button-prev {
	left: 25px
}

@media (max-width:991px) {
	.hero-slider .swiper-button-prev {
		display: none
	}
}

.hero-slider .swiper-button-prev:before {
	font-family: themify;
	content: "\e64a";
	font-size: 20px;
	color: #fff
}

.hero-slider .swiper-button-next {
	right: 25px
}

@media (max-width:991px) {
	.hero-slider .swiper-button-next {
		display: none
	}
}

.hero-slider .swiper-button-next:before {
	font-family: themify;
	content: "\e649";
	font-size: 20px;
	color: #fff
}

.hero-slider .swiper-pagination-custom {
	bottom: 30px
}

@media screen and (min-width:992px) {
	.hero-slider .swiper-pagination-custom {
		display: none
	}
}

.hero-style-1 {
	height: 350px
}

@media (max-width:991px) {
	.hero-style-1 {
		height: 300px
	}
}

@media (max-width:767px) {
	.hero-style-1 {
		height: 300px
	}
}

.hero-style-1 .slide-title {
	max-width: 650px
}

.hero-style-1 .slide-title h2 {
	font-size: 55px;
	font-size: 3.4375rem;
	font-weight: 800;
	color: #fff;
	margin: 0 0 .45em
}

@media (max-width:991px) {
	.hero-style-1 .slide-title h2 {
		font-size: 45px;
		font-size: 2.8125rem
	}
}

@media (max-width:767px) {
	.hero-style-1 .slide-title h2 {
		font-size: 35px;
		font-size: 2.1875rem
	}
}

.hero-style-1 .slide-text {
	max-width: 600px
}

.hero-style-1 .slide-text p {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
	color: #fff;
	margin: 0 0 .75em
}

@media (max-width:991px) {
	.hero-style-1 .slide-text p {
		font-size: 18px;
		font-size: 1.125rem
	}
}

@media (max-width:767px) {
	.hero-style-1 .slide-text p {
		font-size: 16px;
		font-size: 1rem
	}
}

.hero-slider .swiper-pagination {
	display: none
}

.about-sec {
	position: relative
}

.about-sec .sec-title {
	margin-bottom: 30px
}

.about-content-block h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	color: #333;
	margin-bottom: 20px
}

.about-content-block h3 span {
	color: #020748
}

.about-sec .about-content-block {
	position: relative;
	margin-top: 30px;
	margin-bottom: 50px
}

.about-sec .about-content-block p {
	line-height: 1.8em;
	color: #777
}

.about-content-block .bttn:hover {
	border: 1px solid #1453b4;
	color: #1453b4
}

.about-image-block {
	position: relative;
	margin-left: 40px
}

.about-image-block .image {
	position: relative
}

.about-image-block img {
	position: relative
}

.about-img .image img:first-child {
	right: 6%
}

.about-img .image img:last-child {
	position: absolute;
	left: 0;
	bottom: 7%;
	border-radius: 15px
}

.list-style-one {
	position: relative
}

.list-style-one li::before {
	position: absolute;
	content: "\f058";
	left: 0;
	top: 0;
	font-size: 16px;
	color: #1453b4;
	font-family: 'Font Awesome 5 Free'
}

.list-style-one li {
	position: relative;
	color: #222;
	font-size: 16px;
	font-weight: 500;
	padding-left: 28px;
	margin-bottom: 8px
}

@keyframes float-bob-y {
	0% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}
	50% {
		-webkit-transform: translateY(-1.px);
		transform: translateY(-10px)
	}
	100% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}
}

.float-bob-y {
	animation-name: float-bob-y;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: float-bob-y;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: float-bob-y;
	-moz-animation-duration: 5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: float-bob-y;
	-ms-animation-duration: 5s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: float-bob-y;
	-o-animation-duration: 5s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear
}

@keyframes ripple1 {
	0% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: .3
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0
	}
}

@keyframes ripple2 {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	100% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
}

@keyframes ripple3 {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.navigation-border {
	border-top: 2px solid #f7f7f7;
	overflow: hidden
}

.inner-content-wrapper {
	float: left;
	width: 100%;
	padding: 80px 0
}

.contact-section {
	position: relative;
	text-align: center;
	padding: 80px 0 40px
}

.sec-title h1::before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	width: 80px;
	height: 1px;
	content: "";
	background: #000
}

.contact-section .sec-title h1 {
	font-size: 38px;
	font-weight: 700;
	line-height: 38px;
	padding-bottom: 30px;
	margin-bottom: 25px;
	color: #333;
	text-transform: capitalize;
	position: relative
}

.contact-section .contact-info {
	margin-bottom: 30px;
	margin-top: 70px
}

.contact-section .contact-info .contact-info-block {
	position: relative;
	margin-bottom: 20px;
	padding: 40px;
	border-radius: 10px;
	border: 1px solid #f2f0f0
}

.contact-section .contact-info .contact-info-block h5 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #222
}

.contact-section .text {
	font-size: 15px;
	color: #848484
}

.bg-black {
	background-color: #0b0e10;
	overflow: hidden;
	float: left;
	width: 100%
}

.bg-black .f-logo {
	opacity: 1
}

address {
	opacity: .5
}

.bg-black a {
	color: #fff;
	font-weight: 400;
	opacity: .5;
	font-size: 16px
}

.bg-black a:hover {
	color: #1453b4!important;
	opacity: 1
}

.bg-black p {
	font-size: 16px;
	font-weight: 300;
	opacity: .5;
	line-height: 1.7
}

.social-icon-fotter {
	display: flex;
	align-items: center;
	margin-top: 30px
}

.social-icon-fotter li {
	list-style: inside none none
}

.social-icon-fotter li a {
	color: #fff;
	margin-right: 10px;
	background: rgba(255, 255, 255, .2);
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	opacity: .5;
	font-weight: 300;
	font-size: 16px
}

.social-icon-fotter li a:hover {
	color: #1453b4;
	opacity: 1;
	transition: all .5s
}

footer.bg-black h4 {
	font-size: 24px;
	font-weight: 600
}

.list-styled {
	padding-left: 0
}

.list-styled li {
	position: relative
}

.copyright-c {
	padding: 20px 20px;
	border-top: 1px solid #fff2
}

.p-footer {
	padding: 60px 20px 40px
}

.bg-black p {
	font-size: 16px;
	font-weight: 300;
	opacity: .5;
	line-height: 1.7
}

@media (min-width:991px) and (max-width:1199px) {
	.header .nav li a {
		font-size: 14px;
		padding: 20px 4px
	}
	.about-image-block .image .float-bob-y {
		width: 100%;
		bottom: auto;
		top: 15%
	}
	.contact-section {
		padding: 80px 0 50px
	}
}

@media (min-width:768px) and (max-width:991px) {
	.header .nav li a {
		font-size: 14px;
		padding: 20px 4px
	}
	.header .nav li .dropdown {
		top: 62px
	}
	.about-sec .section-title {
		margin: 0 0 20px
	}
	.contact-section {
		padding: 80px 0 40px
	}
	.bg-black .copyright-c p {
		padding: 0 0 10px
	}
}

@media only screen and (max-width:767px) {
	.section-main-title h1,
	.section-main-title h2 {
		font-weight: 800;
		margin: 0;
		font-size: 30px
	}
	.header .topbar {
		display: none
	}
	.header .header-inner {
		width: 100%;
		z-index: 333;
		position: absolute;
		position: relative;
		background: #1453b4
	}
	.slicknav_menu {
		display: block
	}
	.slicknav_menu {
		display: block;
		background: 0 0;
		padding: 0
	}
	.slicknav_btn {
		background: 0 0;
		padding: 0;
		margin-top: -30px
	}
	.slicknav_menu .slicknav_icon-bar {
		box-shadow: none
	}
	.slicknav_menu {
		display: block
	}
	.slicknav_menu {
		display: block;
		background: 0 0;
		padding: 0
	}
	.slicknav_btn {
		height: 33px;
		width: 18px;
		background: 0 0;
		padding: 0;
		margin-top: 29px;
		color: #fff
	}
	.slicknav_menu .slicknav_icon-bar {
		box-shadow: none
	}
	.slicknav_nav {
		clear: both;
		color: #2c2d3f;
		margin: 0;
		font-size: .875em;
		background: 0 0
	}
	.slicknav_nav li a {
		color: #ffff;
		transition: all .4s ease;
		background: 0 0;
		padding: 4px 10px
	}
	.slicknav_nav .slicknav_item a {
		padding: 0 10px;
		background: 0 0
	}
	.slicknav_nav li a i {
		display: none;
		margin: 0
	}
	.slicknav_nav li:hover a {
		color: grey
	}
	.slicknav_nav li .dropdown li a {
		color: #ffff;
		background: 0 0
	}
	.slicknav_nav li .dropdown li a:hover {
		color: #ff0
	}
	.slicknav_nav li .slicknav_item {
		background: 0 0
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 0;
		margin: 0;
		padding: 6px 0;
		font-weight: 400
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #e4e4e4;
		box-shadow: none;
		text-shadow: none
	}
	.slicknav_menu .slicknav_icon-bar {
		display: block;
		width: 25px;
		height: 3px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
		box-shadow: 0 1px 0 rgba(0, 0, 0, .25)
	}
	.header .main-menu {
		display: none
	}
	.header .slicknav_nav {
		margin-top: 65px
	}
	.about-sec {
		padding: 80px 0 50px
	}
	.about-image-block .image>img {
		display: none
	}
	.contact-section {
		padding: 80px 0 30px
	}
	.contact-section .contact-info .contact-info-block {
		padding: 30px 20px
	}
}
